<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NightBotJs</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center">NightBot + NodeJs</h1>
      <br />
      <h3>Lista de comandos</h3>
      <table class="table table-striped">
        <tr>
          <td>!Chiste</td>
          <td><a href="/chiste">Ingresar</a></td>
          <td><a href="https://www.npmjs.com/package/pastebin-js">Docs</a></td>
          <td><a href="https://pastebin.com/mraanCwW">Data</a></td>
        </tr>

        <tr>
          <td>!Amor</td>
          <td><a href="/amor">Ingresar</a></td>
          <td>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random"
              >Docs</a
            >
          </td>
          <td><a href="https://pastebin.com/vqvmPztE">Data</a></td>
        </tr>

        <tr>
          <td>!Name</td>
          <td><a href="/name">Ingresar</a></td>
          <td>
            <a href="https://docs.nightbot.tv/commands/variables/query">Docs</a>
          </td>
          <td><a href="https://es.namemc.com/">Data</a></td>
        </tr>
      </table>

      <h3>¿Que es esta pagina?</h3>
      <h6>
        Esta pagina fue creada para enlazar NightBot + NodeJs. Gracias a la
        variable urlfetch ofrecida por la misma NightBot.
      </h6>
      <br />
      <h3>¿Para quien es esta pagina?</h3>
      <h6>Es para un Youtuber nada recomendable :)</h6>
      <br />
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fab fa-youtube"></i
          ><a href="https://www.youtube.com/user/QuesilloFun/live">
            Youtuber (Directos)</a
          >
        </li>
        <li class="list-group-item">
          <i class="fab fa-twitter"></i
          ><a href="https://twitter.com/Renzot_123"> Mi Twitter</a>
        </li>
        <li class="list-group-item">
          <i class="fas fa-robot"></i>
          <a href="https://beta.nightbot.tv/"> NightBot</a>
        </li>
        <li class="list-group-item">
          <i class="fab fa-node-js"></i
          ><a href="https://nodejs.org/es/"> NodeJs</a>
        </li>
        <li class="list-group-item">
          <i class="fas fa-link"></i
          ><a href="https://expressjs.com/"> Express</a>
        </li>
      </ul>
    </div>
  </body>
</html>
